.pd10{
    padding:10px;
    display: flex;
    }
    .navDisplay{
    
    display:flex;
    flex-direction:column;
    
    }
    .marLeftAuto{
    flex-direction: column;
    margin-left: auto;
    font-family: fantasy;
    }
    .boxContainer{
    /* display: flex; */
    /* flex-wrap: wrap;  */
    position:relative;
    border: 1px solid black;
    width: 78.125vw;
    height: 114.94vh;
    background-color: aquamarine;
    }